USE [master]
GO
/****** Object:  Database [Bank]    Script Date: 8/1/2019 5:18:05 PM ******/
CREATE DATABASE [Bank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Bank.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Bank_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Bank_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bank]
GO
/****** Object:  StoredProcedure [dbo].[addCustomer]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[addCustomer]
@custName varchar(30),
@gender varchar(3),
@dob varchar(20),
@address varchar(60),
@state varchar(20),
@city varchar(20),
@pincode varchar(10),
@phoneNo varchar(10),
@email varchar(30),
@createdDate varchar(20),
@editedDate varchar(20),
@userId varchar(20),
@branchId varchar(20),
@managerId int
as
insert into Customer values(@custName, @gender, @dob, @address, @state, @city, @pincode, @phoneNo, @email, @createdDate, @editedDate, @userId,@branchId,@managerId)
 
GO
/****** Object:  StoredProcedure [dbo].[addDetails]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[addDetails]
@customerId int,
@accounttype varchar(10),
@DateOfOpen varchar(15),
@status varchar(10),
@dateOfEdited varchar(15),
@ClosingDate varchar(15),
@amount int,
@type varchar(10)
as
insert into Account values(@customerId,@accounttype,@DateOfOpen,@status,@dateOfEdited,@ClosingDate,@amount,@type)

GO
/****** Object:  StoredProcedure [dbo].[addLogin]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[addLogin]
@userId varchar(20),
@password varchar(20),
@role varchar(10)
as
insert into Login values(@userId, @password, @role)


GO
/****** Object:  StoredProcedure [dbo].[addManager]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[addManager]
@managerName varchar(50),
@branchId varchar(50),
@address varchar(50),
@phoneNo varchar(50),
@email varchar(50)
as
insert into Manager values(@managerName, @branchId, @address, @phoneNo, @email);
update Branch set assigned = 1 where branchId=@branchId
GO
/****** Object:  StoredProcedure [dbo].[balanceEnq]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[balanceEnq]
@acc bigint
as
select amount from Account where accountNo=@acc;


GO
/****** Object:  StoredProcedure [dbo].[changeMedal]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[changeMedal]
@amt int,
@acc bigint
as
update account  set type = (select type from CustomerMedal where @amt between min and max) where accountNo= @acc; 

GO
/****** Object:  StoredProcedure [dbo].[changePass]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[changePass]
@uid varchar(20)
as
select [password] from Login where userId=@uid;


GO
/****** Object:  StoredProcedure [dbo].[checkAcc]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[checkAcc]
@acc bigint
as 
select customerId from Account where accountNo=@acc;


GO
/****** Object:  StoredProcedure [dbo].[checkAmo]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[checkAmo]
@acc bigint
as
select amount from Account where accountNo=@acc;


GO
/****** Object:  StoredProcedure [dbo].[checkCre]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[checkCre]
@uid varchar(20)
as
select [password],role from Login where userId=@uid;  



GO
/****** Object:  StoredProcedure [dbo].[checkCust]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[checkCust]
@customerID int
as 
select userId from Customer where customerId=@customerID;


GO
/****** Object:  StoredProcedure [dbo].[checkMedal]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[checkMedal]
@amt int 
as
select type from CustomerMedal where @amt between min and max; 

GO
/****** Object:  StoredProcedure [dbo].[datecheck]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[datecheck] 
@acc bigint,
@start varchar(50),
@end varchar(50)
as 
select transactionId,fromAccountNo,toAccountNo,transactionDate,amount,transactionType,comments from [Transaction] where transactionDate between @start and @end;


GO
/****** Object:  StoredProcedure [dbo].[deleteCustomer]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[deleteCustomer]
@custId int
as
declare @email varchar(20)
select @email = (select email from Customer where customerId = @custId)
delete from Account where customerId = @custId
delete from Customer where customerId = @custId
delete from Login where userId = @email



GO
/****** Object:  StoredProcedure [dbo].[deleteDetails]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deleteDetails]
@accountNo int
as
delete from Account where accountNo=@accountNo




GO
/****** Object:  StoredProcedure [dbo].[deleteManager]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[deleteManager]
@managerId varchar(50)
as
delete from Manager where managerId=@managerId
 
GO
/****** Object:  StoredProcedure [dbo].[deposit]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deposit]
@acc bigint,
@amt int
as
update Account set amount=amount+@amt where accountNo=@acc


GO
/****** Object:  StoredProcedure [dbo].[editedDetails]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[editedDetails]
@accountNo int,

@accounttype varchar(10),
@type varchar(50),
@status varchar(10),
@dateOfEdited varchar(15),
@ClosingDate varchar(15),
@amount int
as
update Account set accounttype=@accounttype,[status]=@status,dateOfEdited=@dateOfEdited,Closingdate=@ClosingDate,amount=@amount,type=@type 
where accountNo=@accountNo



GO
/****** Object:  StoredProcedure [dbo].[editManager]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[editManager]
@managerId int,
@managerName varchar(50),
@address varchar(50),
@phoneNo varchar(50),
@emailId varchar(50),
@branchId varchar(50)
as
update Branch set assigned = 1 where branchId = @branchId
update Manager set managerName=@managerName, address=@address, phoneNo=@phoneNo, userId=@emailId, branchId=@branchId where managerId = @managerId
GO
/****** Object:  StoredProcedure [dbo].[getAllCustomers]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getAllCustomers]
as
select * from Customer


GO
/****** Object:  StoredProcedure [dbo].[getBranch]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getBranch]
@userId varchar(20)
as
select branchId from Manager where userId=@userId;
GO
/****** Object:  StoredProcedure [dbo].[getCustomerName]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getCustomerName]
@uid varchar(30)
as
select customerName from Customer where userId=@uid;



GO
/****** Object:  StoredProcedure [dbo].[getMedal]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getMedal]
@acc bigint
as
select type from account where accountNo=@acc;
GO
/****** Object:  StoredProcedure [dbo].[getSpecificCustomer]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getSpecificCustomer]
@custId int
as
select * from Customer where customerId = @custId


GO
/****** Object:  StoredProcedure [dbo].[insTrans]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insTrans]
@acc1 bigint,
@acc2 bigint,
@amt int,
@type varchar(20),
@comment varchar(30),
@Date varchar(20)
as 
insert into [Transaction] values(@acc1,@acc2,@Date,@amt,@type,@comment);


GO
/****** Object:  StoredProcedure [dbo].[ministategen]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ministategen]
@acc bigint
as
select top 10 * from [Transaction] where fromAccountNo=@acc or toAccountNo=@acc order by transactionDate desc;


GO
/****** Object:  StoredProcedure [dbo].[prints]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[prints]
@id varchar(20)
as
select accountNo,accountType,[status] from Account where customerId in(select customerId from Customer where userId=@id)



GO
/****** Object:  StoredProcedure [dbo].[transferAdd]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[transferAdd]
@amt int,
@acc varchar(20)
as
update Account set amount=@amt+amount where accountNo=@acc;



GO
/****** Object:  StoredProcedure [dbo].[transferSub]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[transferSub]
@amt int,
@acc varchar(20)
as
update Account set amount=amount-@amt where accountNo=@acc;


GO
/****** Object:  StoredProcedure [dbo].[updateCustomer]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[updateCustomer]
@custId int,
@custName varchar(30),
@gender varchar(3),
@dob varchar(20),
@address varchar(60),
@state varchar(20),
@city varchar(20),
@pincode varchar(10),
@phoneNo varchar(10),
@editedDate varchar(20)
as
update Customer set customerName = @custName, gender = @gender, dob = @dob, address = @address, state = @state,
city = @city, pincode = @pincode, phoneNo = @phoneNo,editedDate = @editedDate
where customerId = @custId
GO
/****** Object:  StoredProcedure [dbo].[updatePass]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[updatePass]
@uid varchar(20),
@pass varchar(20)
as
update Login set password=@pass where userId=@uid;


GO
/****** Object:  StoredProcedure [dbo].[updateUserID]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[updateUserID]
@newuserId varchar(20),
@olduserId varchar(20)
as
update Login set userId = @newuserId where userId = @olduserId


GO
/****** Object:  StoredProcedure [dbo].[withdraw]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[withdraw]
@acc bigint,
@amt int
as
update Account set amount=amount-@amt where accountNo=@acc


GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[accountNo] [bigint] IDENTITY(1504000000,1) NOT NULL,
	[customerId] [int] NOT NULL,
	[accountType] [varchar](10) NOT NULL,
	[DateOfOpen] [varchar](15) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[dateOfEdited] [varchar](15) NULL,
	[ClosingDate] [varchar](15) NULL,
	[amount] [int] NULL,
	[type] [varchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[accountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Branch](
	[branchName] [varchar](50) NULL,
	[branchId] [varchar](50) NOT NULL,
	[assigned] [int] NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[branchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[customerId] [int] IDENTITY(1000,1) NOT NULL,
	[customerName] [varchar](30) NOT NULL,
	[gender] [varchar](3) NOT NULL,
	[dob] [varchar](20) NOT NULL,
	[address] [varchar](60) NOT NULL,
	[state] [varchar](20) NOT NULL,
	[city] [varchar](20) NOT NULL,
	[pincode] [varchar](10) NOT NULL,
	[phoneNo] [varchar](10) NOT NULL,
	[email] [varchar](30) NOT NULL,
	[createdDate] [varchar](20) NOT NULL,
	[editedDate] [varchar](20) NOT NULL,
	[userId] [varchar](20) NOT NULL,
	[branchId] [varchar](50) NULL,
	[managerId] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerMedal]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerMedal](
	[type] [varchar](50) NOT NULL,
	[min] [int] NULL,
	[max] [int] NULL,
 CONSTRAINT [PK_CustomerMedal] PRIMARY KEY CLUSTERED 
(
	[type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Login]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[userId] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[role] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Manager](
	[managerName] [varchar](50) NULL,
	[branchId] [varchar](50) NOT NULL,
	[managerId] [int] IDENTITY(8000,1) NOT NULL,
	[address] [varchar](50) NULL,
	[phoneNo] [varchar](50) NULL,
	[userId] [varchar](20) NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[managerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 8/1/2019 5:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transaction](
	[transactionId] [bigint] IDENTITY(6524000000,1) NOT NULL,
	[fromAccountNo] [bigint] NOT NULL,
	[toAccountNo] [bigint] NOT NULL,
	[transactionDate] [varchar](50) NOT NULL,
	[amount] [int] NOT NULL,
	[transactionType] [varchar](15) NOT NULL,
	[comments] [varchar](50) NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[transactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Account] FOREIGN KEY([accountNo])
REFERENCES [dbo].[Account] ([accountNo])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Account]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Customer] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([customerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Customer]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_CustomerMedal] FOREIGN KEY([type])
REFERENCES [dbo].[CustomerMedal] ([type])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_CustomerMedal]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Customer] FOREIGN KEY([branchId])
REFERENCES [dbo].[Branch] ([branchId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Customer]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Manager] FOREIGN KEY([managerId])
REFERENCES [dbo].[Manager] ([managerId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Manager]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_Manager_Branch] FOREIGN KEY([branchId])
REFERENCES [dbo].[Branch] ([branchId])
GO
ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [FK_Manager_Branch]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_Manager_Login] FOREIGN KEY([userId])
REFERENCES [dbo].[Login] ([userId])
GO
ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [FK_Manager_Login]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Account] FOREIGN KEY([fromAccountNo])
REFERENCES [dbo].[Account] ([accountNo])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Account]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Account1] FOREIGN KEY([toAccountNo])
REFERENCES [dbo].[Account] ([accountNo])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Account1]
GO
USE [master]
GO
