@model BusinessLayer.Login

@{
    ViewBag.Title = "Login Page";


}
@using (Html.BeginForm("LoginCheck", "Login"))
{


    <div class="jumbotron" style="display: inline-block; margin-top: 100px">
        <h1><label id="Label1">Login</label></h1>
        <div class="md-form mb-3">
            <label id="Label2" class="font-weight-bold">User Id</label>
            @Html.Editor("UserId")
        </div>
        <div class="md-form mb-3">
            <label id="Label3" class="font-weight-bold">Password</label>
            @Html.Editor("Password")
        </div>
        <div>
            <input type="submit" class="btn btn-outline-success" value="Login" />

        </div>
    </div>

}
