@model BusinessLayer.Account

@{
    ViewBag.Title = "BalanceEnquiry";
}





<h2>BalanceEnquiry</h2>
<div class="jumbotron d-inline-block" style=" margin-top: 100px">
    <div class="input-group">
        <Label ID="AccountNO" Class="input-group-text input-group-prepend">AccountNO</Label>
        <Label ID="Account"   Class="form-control">@Model.accountNo</Label>
    </div>
    <div class="input-group">
        <Label ID="balanceMsg" Class="input-group-text input-group-prepend">Account balance:</Label>
        <Label ID="Balance"  Class="form-control">@Model.amount</Label>
    </div>
</div>