@model BusinessLayer.Transaction

@{
    ViewBag.Title = "CustomStatement";
}

<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })
</script>

<h2>CustomStatement</h2>
<div class="jumbotron d-inline-block" style=" margin-top: 100px">
@using (Html.BeginForm())
{
    <div class="input-group mb-3">
        <Label ID="Label1"   Class="input-group-text input-group-prepend">Account no:</Label>
        <label id="Account" class="form-control">@Session["accountNumber"]</label>
    </div>
    <div class="input-group mb-3">
        <Label ID="Label2"  Class="input-group-text input-group-prepend">From Date:</Label>
        @Html.TextBox("fromDate", "", new { @class = "date-picker" })
        
    </div>
    <div class="input-group mb-3">
        <Label ID="Label3"  Class="input-group-text input-group-prepend">To Date:</Label>
        @Html.TextBox("toDate", "", new { @class = "date-picker" })
    </div>
    <div>
        <input type="submit" class="btn btn-outline-success" value="Submit" />
    </div>
}
</div>